[access "refs/*"]
	owner = group Administrators
	forgeAuthor = group vcap_ruby_committers
	forgeCommitter = group vcap_ruby_committers
[access "refs/heads/*"]
	create = group vcap_ruby_committers
	push = +force group vcap_ruby_committers
	label-Code-Review = -2..+2 group vcap_ruby_committers
[access "refs/tags/*"]
	create = group vcap_ruby_committers
	push = +force group vcap_ruby_committers
	pushTag = group vcap_ruby_committers
